@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  display: flex;
  background-color: rgb(250, 250, 250);
}
.left {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  scrollbar-width: none;
}
.user-img {
  width: 100%;
  max-width: 3rem;
  border-radius: 100%;
  box-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.5);
}

/*hero*/
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.hero-elements {
  display: flex;
  gap: 1rem;
}

.texto-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  width: 10rem;
}

.status {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.status-icon-green {
  color: green;
  font-size: 0.6rem;
}
.status-icon-gray {
  color: gray;
  font-size: 0.6rem;
}

.hero-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

i {
  color: rgba(0, 0, 0, 0.5);
}

/*btn*/
.btn {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.btn button {
  border: none;
  padding: 1rem;
  width: 200px;
  color: white;
  background-color: rgb(158, 108, 205);
  transition: 0.1s;
}
.btn i {
  color: white;
}

/*users*/

.user {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;
}
.name {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.user-img:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: rgb(126, 86, 162);
}

.user:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.estado {
  color: rgba(0, 0, 0, 0.5);
}

/*lado derecho*/
.right {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.hand img {
  width: 100%;
  max-width: 25rem;
}
bold {
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .hand img {
    width: 70%;
  }
  .left {
    width: 40%;
  }
  .right {
    width: 60%;
  }
}

@media screen and (max-width: 780px) {
  .hand img {
    width: 70%;
  }
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
  }
  .chat {
    font-size: 0.8rem;
  }
}
