@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  color-scheme: light dark;
  background-color: rgb(46, 46, 46);
  color: rgb(246, 246, 246);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px, 1fr, 100px;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  padding: 1rem;
}

main {
  grid-area: main;
}

.peliculas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}
.peliculas-accion,
.peliculas-drama,
.peliculas-thriller,
.peliculas-terror {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pelicula {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pelicula img {
  width: 100%;
  max-width: 15rem;
  transition: 0.3s;
}

.pelicula img:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.info-pelicula {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
aside {
  grid-area: aside;
  position: sticky;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
}

.categorias {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  padding: 1rem;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.categorias p {
  font-weight: 900;
}
nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: rgb(246, 246, 246);
}

.icon-volver {
  font-size: 2rem;
  text-align: end;
  transition: 0.2s;
}
.icon-volver i {
  transition: 0.3s;
}
.icon-volver i:hover {
  scale: 1.5;
}
footer {
  grid-area: footer;
  background-color: rgb(68, 68, 68);
}

.contacto {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}
.contactanos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rs i {
  font-size: 1.4rem;
}

@media screen and (max-width: 1250px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px, 1fr, 100px;
    min-height: 100vh;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
  .peliculas-accion,
  .peliculas-drama,
  .peliculas-thriller,
  .peliculas-terror {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .peliculas-accion,
  .peliculas-drama,
  .peliculas-thriller,
  .peliculas-terror {
    display: grid;
    grid-template-columns: 1fr;
  }
}
